/**
* Global
*/

body {
  background: $secondaryColor;
  font-family: 'PT Sans', sans-serif;
  font-size: $fontSizeGlobal;
  color: $primaryColor;
}

article {
  margin: 40px auto 20px;
  width: 1024px;
}

a {
  text-decoration: none;
  color: $primaryColor;
}

h1 {
  color: $primaryColor;
  font-size: $fontSizeH1;
}