<header>
    {% assign pages_list = (site.pages | sort: 'order') %}
    <a href="{{ "/" | relative_url }}">
      <img class="logo" alt="Albert LAmme Fotografie" src="{{baseurl}}/assets/images/logo.svg">
    </a>
    <nav>
      <span class="nav__toggle">
          <i class="icon icon-menu"></i>
      </span>
      <ul class="nav__list">
        {% for my_page in pages_list %}
          {% if my_page.title %}
            <li class="nav__item">
              <a {% if my_page.url == page.url %}class="nav__item--active"{% endif %} href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
</header>
