/**
 * Variables
 */


// Colors
$primaryColor:          #ffffff;
$secondaryColor:        #454545;
$tertiaryColor:         #95989A;
$accentColor:           #050505;


// Devices
$tablet-width:          960px;
$desktop-width:         1024px;


// Radius
$radius:                10px;


// Font
$fontSizeGlobal:        16px;
$fontSizeBig:           18px;
$fontSizeH1:            24px;
$fontSizeIcon:          32px;


// Padding
$gutter:                20px;